/* Auth.css */
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b6afb3; /* Pink background color */
}

.auth-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-header {
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input-field {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-field:focus {
  outline: none;
  border-color: #ff4081;
  box-shadow: 0 0 5px rgba(255, 64, 129, 0.5);
}

.terms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.terms input {
  margin-right: 10px;
}

.auth-button {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #ff4081;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #e91e63;
}
